NODE_ENV=production
PORT=3034

# Admin middleware/login route
ADMIN_LOGIN_PATH=/admin/login

# Used for generated preview/read links from admin
NEXT_PUBLIC_READER_URL=https://reader.vidhyavibe.in

# API URL consumed by admin app (if needed in fetch layer)
NEXT_PUBLIC_API_BASE_URL=https://readerapi.vidhyavibe.in
